@using EFAdventure
@model List<Department>
@{
    ViewBag.Title = "BuscarPersona";
}

<h1>Buscar Persona y Empleado</h1>

<p>Para buscar a un empleado pinche en un departamento y después en un puesto de trabajo</p>
<br />
<div style="display:inline-block; vertical-align:top;">
    <ul>
        <h4>Departamentos</h4>
        @foreach (Department departamento in Model)
        {
            <li id="@departamento.DepartmentID">@Html.ActionLink(departamento.Name, "MostrarJobTitle", "Persona", new { depId = departamento.DepartmentID }, null)</li>
        }
    </ul>
</div>

<div style="display:inline-block; vertical-align:top;">
    
    <ul>
        @if (ViewBag.listaJobTitle != null)
        {
            List<String> lista = ViewBag.listaJobTitle;
            ViewData["depId"] = ViewBag.depId;
            Html.RenderPartial("_ListaJobTitle", lista, ViewData);
        }
    </ul>
</div>

<div style="display:inline-block; vertical-align:top;">
   
    <ul>
        @if (ViewBag.listaPersonas != null)
        {
            List<Person> lista1 = ViewBag.listaPersonas;
            ViewData["depId"] = ViewBag.depId;
            ViewData["jobTitle"] = ViewBag.jobTitle;
            Html.RenderPartial("_ListaPersonas", lista1, ViewData);
        }
    </ul>
</div>

<p>Para añadir a un empleado haga click en Añadir Empleado</p>
<button>@Html.ActionLink("Añadir Persona","Agregar","Persona", null, null)</button>
@* TODO hacer el boton de añadir empleado *@
