@using EFAdventure
@model List<Department>
@{
    ViewBag.Title = "BuscarPersona";
}

<h1>Buscar Persona y Empleado</h1>

@* Text Box de busqueda por BusinessEntityID *@

<p>Para buscar a un empleado por BusinessEntityID haga click en Filtrar por BusinessEntityID</p> <br />

<form method="post">
    <label>BusinessEntityID</label><input name="BusinessEntityID" id="BusinessEntityID" type="number" value="@ViewBag.BusinessEntityID" /><button type="submit" id="id">Filtrar por BusinessEntityID</button>
</form>
<br />
@*TODO hacer la lista por departamentos*@
<p>Para buscar a un empleado por su Departamentos haga click en un departamento</p>
<br />
<div style="display:inline-block">
    <ul style="display:inline-block">
        @foreach (Department departamento in Model)
        {
            <li id="@departamento.DepartmentID">@Html.ActionLink(departamento.Name, "MostrarJobTitle", "Persona", new { depId = departamento.DepartmentID }, null)</li>
        }
    </ul>
</div>

<div style="display:inline-block">
    <ul>
        @if (ViewBag.listaJobTitle != null)
        {
            List<String> lista = ViewBag.listaJobTitle;
            ViewData["depId"] = ViewBag.depId;
            Html.RenderPartial("_ListaJobTitle", lista, ViewData);
        }
    </ul>
</div>

<div style="display:inline-block">
    <ul>
        @if (ViewBag.listaPersonas != null)
        {
            List<Person> lista1 = ViewBag.listaPersonas;
            ViewData["depId"] = ViewBag.depId;
            ViewData["jobTitle"] = ViewBag.jobTitle;
            Html.RenderPartial("_ListaPersonas", lista1, ViewData);
        }
    </ul>
</div>

<p>Para añadir a un empleado haga click en Añadir Empleado</p>
@* TODO hacer el boton de añadir empleado *@
