@using EFAdventure
@

@{
    ViewBag.Title = "BuscarPersona";
}

<h1>Buscar Persona y Empleado</h1>

@* Text Box de busqueda por BusinessEntityID *@

<p>Esta es la pagina de los Equipos</p>

<form method="post">
    <label>BusinessEntityID</label><input name="BusinessEntityID" id="BusinessEntityID" type="number" value="@ViewBag.BusinessEntityID" /><button type="submit" id="id">Filtrar por BusinessEntityID</button>
</form>

