
@{
    ViewBag.Title = "Ventas";
}

<h2></h2>
<form method="get" action="~/Ventas/RevisarPedido">
    <label>Introduce el número de pedido que deseas consultar</label><input name="idVenta" type="number" />
    <button type="submit">Filtrar</button>
</form>
