
@{
    ViewBag.Title = "Ventas";
}

<h2></h2>
<form method="get" action="~/Ventas/RevisarPedido">
    <label>Introduce el número de pedido que deseas consultar</label><input name="id" type="number" id="numPedido" />
    <button type="submit">Ir</button>   
</form>
  Filtrar búsqueda:<br />
    Comercial:<br />
    Nombre:<input type="text" name="nombre" id="nombre"><br>
    Apellido:<input type="text" name="nombre" id="apellido"><br>
    Desde:<input type="date" name="fechaMin" id="fechaDesde "><br>
    Hasta<input type="date" name="fechaMin" id="fechaHasta">
    <button id="filtrar" type="button">Filtrar</button><br /><br /><br /><br /><br />
<ul id="pedidos">
<li id="43662">Prueba de pedido</li>
</ul>  
@section Scripts {
    @Scripts.Render("~/Scripts/ventas.js")
}
